.detail-beneficiary {
  flex-grow: 1;
  min-height: 647px;
  position: relative;

  &--underline {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 8%;
    border-color: #dee2e6;
    opacity: 100%;
  }

  :global(.card) {
    gap: 40px !important;
  }
}

@media (max-width: 1020px) {
  .detail-beneficiary {
    &--underline {
      top: 5.5%;
    }
  }
}

@media (max-width: 855px) {
  .detail-beneficiary {
    flex: 1 1 100%;
  }
}

@media (max-width: 665px) {
  .detail-beneficiary {
    min-height: max-content;
  }
}
