.detail-composer {
  flex-basis: 347px;
  min-height: 647px;
}

@media (max-width: 855px) {
  .detail-composer {
    flex: 1 1 100%;
  }
}

@media (max-width: 665px) {
  .detail-composer {
    min-height: max-content;
  }
}
