.detail-card:global(.card) {
  padding: 24px 30px;
  gap: 30px;
  border-radius: 24px;
  box-shadow: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);
  border: 0;
  height: 100%;

  :global(.card-title) {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    color: #1e1e1e;
  }

  :global(.card-body) {
    padding: 0;
  }
}

.detail-card-body {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.detail-card-body-beneficiary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  .detail-address {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1020px) {
  .detail-card-body-beneficiary {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
