@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r13aiu');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r13aiu#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r13aiu') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r13aiu') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r13aiu##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
    color: #969696;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;
    color: #969696;
  }
}
.icon-information {
  &:before {
    content: $icon-information;
    color: #969696;
  }
}
.icon-microphone {
  &:before {
    content: $icon-microphone;
    color: #969696;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
    color: #969696;
  }
}
.icon-sort-down {
  &:before {
    content: $icon-sort-down;
    color: #969696;
  }
}
