$icomoon-font-family: 'massive-music-dashboard' !default;
$icomoon-font-path: 'fonts' !default;

$icon-calendar: '\e900';
$icon-chevron-right: '\e901';
$icon-filter: '\e902';
$icon-information: '\e903';
$icon-microphone: '\e904';
$icon-search: '\e905';
$icon-sort-down: '\e906';
