.custom-table {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #dee2e6;
    padding: 30px 40px 10px;

    &--title {
      display: flex;
      gap: 18px;
      align-items: baseline;

      h4 {
        font-size: 17.5px;
        font-weight: 700;
        color: #1e1e1e;
        font-style: italic;
        line-height: 22.455px;
      }
    }

    &--buttons {
      display: flex;
      gap: 11px;
    }
  }

  &-content:global(.table) {
    margin: 0;

    thead {
      font-weight: 700;

      th {
        padding: 25px 30px;
        border: 0;
        font-size: 12px;
        white-space: nowrap;

        &:not(:first-child) {
          text-align: end;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 0;
          padding: 25px 30px;
          font-size: 12px;
          padding-left: 30px;
          padding-right: 30px;

          &:not(:first-child) {
            text-align: end;
          }
        }

        &[colored='true'] {
          td {
            background-color: #f5f5f5;
          }
        }

        &:global(.collapsable-trigger) {
          td {
            white-space: nowrap;

            &:first-child {
              display: flex;
              gap: 10px;
              align-items: 'center';
            }
          }
        }

        &:global(.collapsable-content) {
          td {
            padding-top: 0;

            :global(.collapsable-content-table-wrapper) {
              padding: 3px;
              border-radius: 24px;

              :global(.table) {
                margin: 0;

                th {
                  background-color: inherit;

                  &:nth-child(2) {
                    text-align: start;
                  }
                }

                tbody {
                  tr {
                    td {
                      &:first-child {
                        display: flex;
                        align-items: center;
                        gap: 34px;
                        background-color: inherit;

                        div {
                          &:first-child {
                            width: 56px;
                            height: 56px;
                            background-color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            span {
                              color: white;
                            }
                          }

                          &:nth-child(2) {
                            div {
                              display: flex;
                              gap: 3px;
                            }
                          }
                        }
                      }

                      &:nth-child(2) {
                        text-align: start;
                        background-color: inherit;
                      }

                      &:last-child {
                        background-color: inherit;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &-footer {
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 595px) {
  .custom-table {
    &-header {
      &--title {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

@media (max-width: 482px) {
  .custom-table {
    &-header {
      flex-direction: column;
      gap: 8px;
    }
  }
}
