.header {
  background-color: white;

  .header-container {
    max-width: 1195px;
    margin: 0 auto;
    padding: 23px 55px;
    display: flex;
    align-items: center;
    gap: 36px;
  }

  :global(.icon-information::before) {
    font-size: 20px;
    cursor: pointer;
  }
}

.main {
  background-color: #f2f2f2;

  article {
    padding: 42px 52px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    max-width: 1195px;
    margin: 0 auto;
  }
}

@media (max-width: 705px) {
  .main {
    .headline {
      gap: 20px;
    }
  }
}
