.search-bar:global(.input-group) {
  height: 51px;
  background-color: #f2f2f2;
  border-radius: 1000px;
  gap: 16px;

  :global(.icon-search.input-group-text) {
    background-color: #f2f2f2;
    border-radius: 1000px 0 0 1000px;
    border: 0;
    padding-left: 22px;
    padding-right: 0;
    cursor: pointer;

    &::before {
      font-size: 24px;
    }
  }

  :global(.icon-microphone.input-group-text) {
    background-color: #f2f2f2;
    border-radius: 0 1000px 1000px 0;
    border: 0;
    padding-right: 20px;
    cursor: pointer;

    &::before {
      font-size: 18px;
    }
  }

  :global(.form-control) {
    background-color: #f2f2f2;
    border: 0;
    border-left: 0;
    padding-right: 0;
    padding-left: 0;

    &:focus {
      box-shadow: none;
      border: 0;
    }
  }
}
