.statistics-card:global(.card) {
  padding: 24px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px;
  border: 0;
  box-shadow: 0px 2px 6px 0px rgba(13, 10, 44, 0.08);

  &.statistics-card--not-full {
    flex-basis: 206px;
    flex-grow: 0;
  }

  &.statistics-card--full {
    flex-grow: 1;
  }

  :global(.card-title) {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    color: #1e1e1e;
    width: 100%;
  }

  :global(.card-body) {
    color: #1e1e1e;
    padding: 0;
    text-align: right;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 52px;
    width: 100%;
  }
}

@media (max-width: 835px) {
  .statistics-card:global(.card) {
    &.statistics-card--not-full {
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
}

@media (max-width: 365px) {
  .statistics-card:global(.card) {
    :global(.card-body) {
      font-size: 40px;
    }
  }
}
