@media (max-width: 460px) {
  .headline-button:global(.btn-headline) {
    font-size: 12px;

    :global(span::before) {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .headline-button:global(.btn-headline) {
    font-size: 10px;

    :global(span::before) {
      font-size: 14px;
    }
  }
}
